# ignore local files (IDE)
.idea
.project
.pydevproject
.coverage
htmlcov

# ignore data files by default
*xml
*sqlite3
*gz

# ignore temporary files in python code
*/*pyc
*/*json
*/__pycache*
manage.py

# ignore python compiled code and job logs
*pyc
*/*pyc
*/*/*pyc

# ignore local scripts and log output
*bash
*out

# ignore content of data directory
data/*


