# ignore local files (IDE)
.idea
.project
.pydevproject
.coverage
*.iml
htmlcov
profiling

# ignore data files
*xml
*sqlite
*gz
*tsv
*csv
docker-data
tests/mongodb

# ignore temporary files in python code
*/*pyc
*/*json
*/__pycache*
manage.py

# ignore python compiled code and job logs
*pyc
*/*pyc
*/*/*pyc

# ignore local scripts and log output
*bash
*out

# ignore content of data directory
data/*


# development files for chat user interface

crosschat/node_modules
crosschat/build
crosschat/.pnp*
crosschat/coverage
crosschat/.env*
crosschat/npm-debug.log*
crosschat/yarn-debug.log*
crosschat/yarn-error.log*

