/** Styles for Crosschat App **/

html, body {
  height: 100%;
}
body {
  background-color: #f9e9d1;
  font-size: 1.2em;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

/** History list and controller **/
#app {
  height: 100%;
  width: 100%;
}


/** History list and controller **/
#init-message {
  min-width: 200px;
  text-align: center;
  padding-top: 2em;
}

/** History list and controller **/
#root, #chat {
  height: 100%;
  position: relative;
}
#chat-history {
  overflow-y: auto;
  height: 100%;
  width: 100%;
}
#chat-controller {
  background: #ffffff;
  z-index: 999;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: solid 2px #222222;
  padding: 0.5em 1em;
}



/** Controller, internal **/
#controller-action {
  width: 100%;
}
#select-dataset {
  min-width: 120px;
}
img.controller-icon {
  height: 20px;
}
.col-send {
  text-align: center;
}


/** Settings panel **/
td.column-dataset {
  width: 25%;
}


/** History panel **/
.chat-history {

}
.chat-user, .chat-response {
  clear: both;
  margin: 0.2em 1em;
  border-radius: 5px;
  border: solid 1px #4d243d;
}
.chat-user {
  padding: 0.5em 1em 0em 1em;
  background-color: #e5e9f5;
  float: right;
}
.chat-response {
  padding: 0.5em 1em 0em 1em;
  background-color: #ffffff;
  min-width: 20%;
  float: left;
}
.chat-response-toggle {
  background-color: #ffffff;
  justify-content: space-between;
}
.chat-response-header {
  font-weight: 600;
}
.chat-end {
  clear: both;
}
.chat-icon {
  height: 16px;
}

.chat-user-extension {
}
.chat-user-settings {
  min-width: 400px;
}

/** Add form **/
.add-title {
  margin-top: 1em;
}


/** Message boxes in chat history **/
.chat-response td {
  padding: 2px 18px 2px 18px;
}
.chat-response .no-datasets {
  color: #dd0000;
  font-size: larger;
  text-align: center;
  padding: 1em;
}
